body{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.link-light{
    text-decoration: none;
    padding: 5px 10px;
}
.link-light:hover{
    font-weight: 300;
}
#link{
    font-weight: 300;
}
header button{
    margin-left: auto;
    margin-right: 30px;
}
#inp{
    width: 15%;
    margin-left: 55%;
}




/* swiper */






.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide{
      display: block;
      padding-top: 150px;
      padding: 100px 300px;
  }
  .ph{
      width: 150px; 
      height: 140px;
      margin: 0 auto;
      border-radius: 50%;
      background-color: rgb(134, 134, 134);
  }


  /* card */
   .card-body{
       text-align: center;
       padding: 10px 15px;
   }
   .card{
       margin: 0px 30px;
       border: none !important;
   }
   .kontant{
       margin: 100px 0px;
   }
   .texted p{
       width: 90%;
   }
   .cards{
       text-align: center;
   }
   .flex{
       margin-top: 90px;
       display: flex;
       justify-content: space-between;
   }
   .ct{
       width: 420px;
       flex: 2;
       display: flex;
       height: 330px;
       background-color: rgb(238, 237, 237);
       border-radius: 10px;
   }
   .texted h2{
       color: #aaa;
   }
   .photo{
       margin-bottom: 50px;
   }